<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width = device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>loginPage</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div class="xk-log-sub">
    <form id="form" method="post" action="login">
        <p>用户名：<input type="text" name="username" placeholder="用户名/账号/邮箱"></p>
        <p>密&nbsp;&nbsp;&nbsp;码：<input type="password" name="password"></p>
        <input style="display: none;" type="text" name="token">
        <button><a href="/register" >注册</a></button><input type="button" id="login" value="登陆">
    </form>
</div>
</body>
<script src="js/lib/jquery-3.1.1.min.js"></script>
<script src="js/lib/jquery.cookie.js"></script>
<script src="js/script/login.js"></script>
</html>