<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="css/personalCss.css" rel="stylesheet">
    <script type="text/javascript" src="js/lib/jquery-3.1.1.min.js"></script>
</head>
<body>

<section class="xk-per-body">
    <button id="menu-toggle" class="menu-toggle"><span>Menu</span></button>
    <div class="xk-per-nav xk-per-nav-style">
        <div class="xk-per-nav-item xk-per-item-img">
            <img src="images/1.jpg" class="img-circle xk-per-item-imgstyle xk-per-item-head-pc">
            <p class="xk-per-item-typeText">
                <span></span>
                <span>合作作者</span>
            </p>
        </div>
        <ul class="xk-per-nav-box" id="nav">
            <li class="xk-per-nav-item xk-per-nav-active" data-id="0">
                我的动态漫画
            </li>
            <li class="xk-per-nav-item" data-id="1">
                账号管理
            </li>
            <li class="xk-per-nav-item" data-id="2">
                退出登录
            </li>
        </ul>
    </div>


    <!--点击我的动态漫画后显示-->
    <div class="xk-per-content xk-per-content-style">
        <div class="xk-per-cartoon xk-per-content-box">
            <header class="xk-per-cartoon-title">
                我的动态漫画
            </header>
            <div class="xk-per-cartoon-add">
                <!--<input class="xk-per-cartoon-addbtn" type="button" value="新建系列">-->
                <div class="xk-per-cartoon-addsearch">
                    <input type="text" placeholder="请输入检索关键字">
                    <input type="button" value="搜索">
                </div>
            </div>
            <div class="xk-per-cinter-nav">
                <div class="xk-per-list-addbtn xk-per-list" title="新建">
                    <div class="xk-per-cartoon-addbtn"></div>
                </div>
                <div class="xk-per-list xk-per-list-style">
                    <div class="xk-per-cartoon-box">
                        <div class="xk-cartoon-box-top xk-cartoon-item-style">
                            <p class="xk-cartoon-box-nav xk-cartoon-box-top-top">
                            <span class="xk-per-cartoon-txt xk-cartoon-box-btn xk-cartoon-box-left"><a
                                    href="##">预览</a></span>
                                <span class="xk-per-cartoon-txt xk-cartoon-box-btn xk-cartoon-box-right"><a
                                        href="##">编辑</a></span>
                            </p>
                            <p class="xk-cartoon-box-nav xk-cartoon-box-bottom">
                            <span class="xk-per-cartoon-txt xk-cartoon-box-btn xk-cartoon-box-left"><a
                                    href="##">删除</a></span>
                            </p>
                            <img class="xk-per-cartoon-img" src="images/1.jpg">
                        </div>
                        <p class="xk-cartoon-box-center xk-cartoon-item-style">
                            <span class="xk-per-cartoon-txt xk-per-cartoon-name">画诡</span>
                            <span class="xk-per-cartoon-txt xk-per-cartoon-number">第二话</span>
                        </p>
                        <p class="xk-cartoon-box-bottom xk-cartoon-item-style">
                            <span class="xk-per-cartoon-txt">最后：2017-12-30 16：15：00</span>
                        </p>
                    </div>
                </div>

                <div class="xk-per-list xk-per-list-style">
                    <div class="xk-per-cartoon-box">
                        <div class="xk-cartoon-box-top xk-cartoon-item-style">
                            <p class="xk-cartoon-box-nav xk-cartoon-box-top-top">
                            <span class="xk-per-cartoon-txt xk-cartoon-box-btn xk-cartoon-box-left"><a
                                    href="##">预览</a></span>
                                <span class="xk-per-cartoon-txt xk-cartoon-box-btn xk-cartoon-box-right"><a
                                        href="##">编辑</a></span>
                            </p>
                            <p class="xk-cartoon-box-nav xk-cartoon-box-bottom">
                            <span class="xk-per-cartoon-txt xk-cartoon-box-btn xk-cartoon-box-left"><a
                                    href="##">删除</a></span>
                            </p>
                            <img class="xk-per-cartoon-img" src="images/1.jpg">
                        </div>
                        <p class="xk-cartoon-box-center xk-cartoon-item-style">
                            <span class="xk-per-cartoon-txt xk-per-cartoon-name">画诡</span>
                            <span class="xk-per-cartoon-txt xk-per-cartoon-number">第一话</span>
                        </p>
                        <p class="xk-cartoon-box-bottom xk-cartoon-item-style">
                            <span class="xk-per-cartoon-txt">最后：2017-12-30 16：15：00</span>
                        </p>
                    </div>
                </div>
                <div class="xk-per-list xk-per-list-style">
                    <div class="xk-per-cartoon-box">
                        <div class="xk-cartoon-box-top xk-cartoon-item-style">
                            <p class="xk-cartoon-box-nav xk-cartoon-box-top-top">
                            <span class="xk-per-cartoon-txt xk-cartoon-box-btn xk-cartoon-box-left"><a
                                    href="##">预览</a></span>
                                <span class="xk-per-cartoon-txt xk-cartoon-box-btn xk-cartoon-box-right"><a
                                        href="##">编辑</a></span>
                            </p>
                            <p class="xk-cartoon-box-nav xk-cartoon-box-bottom">
                            <span class="xk-per-cartoon-txt xk-cartoon-box-btn xk-cartoon-box-left"><a
                                    href="##">删除</a></span>
                            </p>
                            <img class="xk-per-cartoon-img" src="images/1.jpg">
                        </div>
                        <p class="xk-cartoon-box-center xk-cartoon-item-style">
                            <span class="xk-per-cartoon-txt xk-per-cartoon-name">画诡</span>
                            <span class="xk-per-cartoon-txt xk-per-cartoon-number">第一话</span>
                        </p>
                        <p class="xk-cartoon-box-bottom xk-cartoon-item-style">
                            <span class="xk-per-cartoon-txt">最后：2017-12-30 16：15：00</span>
                        </p>
                    </div>
                </div>
                <div class="xk-per-list xk-per-list-style">
                    <div class="xk-per-cartoon-box">
                        <div class="xk-cartoon-box-top xk-cartoon-item-style">
                            <p class="xk-cartoon-box-nav xk-cartoon-box-top-top">
                            <span class="xk-per-cartoon-txt xk-cartoon-box-btn xk-cartoon-box-left"><a
                                    href="##">预览</a></span>
                                <span class="xk-per-cartoon-txt xk-cartoon-box-btn xk-cartoon-box-right"><a
                                        href="##">编辑</a></span>
                            </p>
                            <p class="xk-cartoon-box-nav xk-cartoon-box-bottom">
                            <span class="xk-per-cartoon-txt xk-cartoon-box-btn xk-cartoon-box-left"><a
                                    href="##">删除</a></span>
                            </p>
                            <img class="xk-per-cartoon-img" src="images/1.jpg">
                        </div>
                        <p class="xk-cartoon-box-center xk-cartoon-item-style">
                            <span class="xk-per-cartoon-txt xk-per-cartoon-name">画诡</span>
                            <span class="xk-per-cartoon-txt xk-per-cartoon-number">第一话</span>
                        </p>
                        <p class="xk-cartoon-box-bottom xk-cartoon-item-style">
                            <span class="xk-per-cartoon-txt">最后：2017-12-30 16：15：00</span>
                        </p>
                    </div>
                </div>
                <div class="xk-per-list xk-per-list-style">
                    <div class="xk-per-cartoon-box">
                        <div class="xk-cartoon-box-top xk-cartoon-item-style">
                            <p class="xk-cartoon-box-nav xk-cartoon-box-top-top">
                            <span class="xk-per-cartoon-txt xk-cartoon-box-btn xk-cartoon-box-left"><a
                                    href="##">预览</a></span>
                                <span class="xk-per-cartoon-txt xk-cartoon-box-btn xk-cartoon-box-right"><a
                                        href="##">编辑</a></span>
                            </p>
                            <p class="xk-cartoon-box-nav xk-cartoon-box-bottom">
                            <span class="xk-per-cartoon-txt xk-cartoon-box-btn xk-cartoon-box-left"><a
                                    href="##">删除</a></span>
                            </p>
                            <img class="xk-per-cartoon-img" src="images/1.jpg">
                        </div>
                        <p class="xk-cartoon-box-center xk-cartoon-item-style">
                            <span class="xk-per-cartoon-txt xk-per-cartoon-name">画诡</span>
                            <span class="xk-per-cartoon-txt xk-per-cartoon-number">第一话</span>
                        </p>
                        <p class="xk-cartoon-box-bottom xk-cartoon-item-style">
                            <span class="xk-per-cartoon-txt">最后：2017-12-30 16：15：00</span>
                        </p>
                    </div>
                </div>
                <!--<%if(datas.nav){%>-->
                <!--<%for(var i=0;i<datas.nav.length;i++){%>-->
                <!--<div class="xk-per-list xk-per-list-style">-->
                    <!--<div class="xk-per-cartoon-box">-->
                        <!--<div class="xk-cartoon-box-top xk-cartoon-item-style">-->
                            <!--<p class="xk-cartoon-box-nav xk-cartoon-box-top-top">-->
                            <!--<span class="xk-per-cartoon-txt xk-cartoon-box-btn xk-cartoon-box-left"><a-->
                                    <!--href="##">预览</a></span>-->
                                <!--<span class="xk-per-cartoon-txt xk-cartoon-box-btn xk-cartoon-box-right"><a-->
                                        <!--href="##">编辑</a></span>-->
                            <!--</p>-->
                            <!--<p class="xk-cartoon-box-nav xk-cartoon-box-bottom">-->
                            <!--<span class="xk-per-cartoon-txt xk-cartoon-box-btn xk-cartoon-box-left"><a-->
                                    <!--href="##">删除</a></span>-->
                            <!--</p>-->
                            <!--<img class="xk-per-cartoon-img" src=<%=datas.nav[i].img%>>-->
                        <!--</div>-->
                        <!--<p class="xk-cartoon-box-center xk-cartoon-item-style">-->
                            <!--<span class="xk-per-cartoon-txt xk-per-cartoon-name"><%=datas.nav[i].name%></span>-->
                            <!--<span class="xk-per-cartoon-txt xk-per-cartoon-number"><%=datas.nav[i].num%></span>-->
                        <!--</p>-->
                        <!--<p class="xk-cartoon-box-bottom xk-cartoon-item-style">-->
                            <!--<span class="xk-per-cartoon-txt">最后：2017-12-30 16：15：00</span>-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<%}%>-->
                <!--<%}%>-->
            </div>

        </div>
    </div>

    <!--点击账号管理后显示-->
    <div class="xk-per-content xk-per-content-style" style="display: none">
        <header class="xk-per-cartoon-title" style="text-align: center">
            个人信息
        </header>
        <form class="xk-per-infos" method="post" enctype = “multipart/form-data”>
            <img class="img-circle" src="images/1.jpg"><input type="file" name="file"><br>
            <div class="xk-per-input">
                <p>昵称:<span id="xk-per-nickname">XXX</span></p>
                <p>用户名:<span id="xk-per-username">pxtar123456</span></p>
                <p>QQ:<span id="xk-per-QQ">XXX</span></p>
                <p>电话:<span id="xk-per-phone">XXX</span></p>
                <p>邮箱:<span id="xk-per-email">XXX</span></p>
            </div>
            <input type="button" value="修改信息" id="xk-per-modify">
            <input type="button" value="成为会员" id="xk-per-beVip">
            <div id="xk-per-save" style="display: none">
                <input type="button" name="yes" value="保存" class="xk-per-saveGroup">
                <input type="button" name="no" value="取消" class="xk-per-saveGroup">
            </div>
        </form>
    </div>
    <!-- <div class="xk-per-content xk-per-content-style">
         <div class="xk-per-cartoon xk-per-content-box">
             <header class="xk-per-cartoon-title">
                 个人信息
             </header>
             <div class="xk-per-list xk-per-list-style">
                 <div class="xk-per-cartoon-box">
                     <p class="xk-cartoon-box-top xk-cartoon-item-style">
                         <span class="xk-per-cartoon-txt xk-cartoon-box-btn xk-cartoon-box-left"><a href="#">预览</a></span>
                         <span class="xk-per-cartoon-txt xk-cartoon-box-btn xk-cartoon-box-right"><a href="#">编辑</a></span>
                         <span class="xk-per-cartoon-txt xk-cartoon-box-btn xk-cartoon-box-bottom"><a href="#">删除</a></span>
                         <img class="xk-per-cartoon-img" src="images/1.jpg">
                     </p>
                     <p class="xk-cartoon-box-center xk-cartoon-item-style">
                         <span class="xk-per-cartoon-txt xk-per-cartoon-name">画诡</span>
                         <span class="xk-per-cartoon-txt xk-per-cartoon-number">第一话</span>
                     </p>
                     <p class="xk-cartoon-box-bottom xk-cartoon-item-style">
                         <span class="xk-per-cartoon-txt">最后：2017-12-30 16：15：00</span>
                     </p>
                 </div>
             </div>
         </div>
     </div>-->
    <form class="xk-per-box" method="post" enctype = "multipart/form-data">
        <p>名称:<input type="text" name="name"></p>
        <p>话数:<input type="text" name="number"></p>
        <input type="button" class="xk-per-box-but-yes" value="确定">
        <input type="button" class="xk-per-box-but-no" value="取消">
        <input type="button" class="xk-per-box-img" value="选择封面">
        <input id="upload" name="file" accept="image/*" type="file" style="display: none"/>
    </form>

</section>
<script async src="js/script/personalPage.js"></script>
<script>

    var xk_nav = $('.xk-per-nav');
    $('.menu-toggle').click(function (e) {
        if (xk_nav.hasClass("xk-per-nav-click")) {
            xk_nav.removeClass('xk-per-nav-click');
        } else {
            xk_nav.addClass('xk-per-nav-click');
        }
    });
    window.onload=function () {
        winload()
    }
    //js中获取后台传入数据直接定义成ejs格式,暂时无法在js文件中获取ejs的值
    //除非后台不渲染页面，单纯使用res.send返回数据，由前端渲染
    var data = '<%-datas %>';
    console.log(data);
</script>
</body>
</html>